<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= typeof title !== 'undefined' ? title + ' - CSE Motors' : 'CSE Motors - Your Trusted Car Dealer' %></title>
    <link rel="stylesheet" href="/css/styles.css" media="screen">
</head>